body{
  background-color:#217756;
  font-family:serif;
}
.gameclear{
  text-align:center;
  color:#fced25;
  font-size:300%;
}
a{/*リンクされた文字*/
    color:rgba(174, 194, 192, 0.89);
    font-style:normal;
    text-decoration:underline;
}
a:visited {/*訪問後のリンク*/
    color:rgba(174, 194, 192, 0.89);
    text-decoration:underline;
}
a:hover {/*マウスをのせたとき*/
    color:rgba(5, 245, 230, 0.9);
    font-style:normal;
    text-decoration:underline;
}
